<h1>Using an API from a service with PokeAPI</h1>
<div>
  <h2>Current pokemon number is {{ currentId }}</h2>
  <button (click)="getNextPokemon()">Get next Pokemon</button>
</div>

<div>
  <h2>The pokemon List</h2>
  <ul class="pokemon-list">
    <li *ngFor="let pokemon of pokemonList">
      <h4>{{ pokemon.id }} - {{ pokemon.name }}</h4>
      <img [src]="pokemon.image" [alt]="pokemon.image" />
      <h4>
        Types:
        <span *ngFor="let type of pokemon.types; let last = last">
          {{ last ? '&' : '' }} {{ type }}</span
        >
      </h4>
    </li>
  </ul>
</div>
