<nav>
  <a [routerLink]="['/template-binding']">Template property & event binding</a>
  <a [routerLink]="['/ngmodel']">Two way data binding</a>
  <a [routerLink]="['/reactive-form']">Reactive Form</a>
  <a [routerLink]="['/input-output']">@Input & @Output</a>
  <a [routerLink]="['/service-shared']">Shared service</a>
  <a [routerLink]="['/api-example']">API service example</a>
</nav>

<router-outlet></router-outlet>
